/* AmRiCal Default Style for first calendar on page 
This file should have been copied to a css folder in your uploads directory.  It may safely be edited there and will not be overwritten by upgrades,
If you have multiple icals on a page (ie not multiple urls in a shortcode, but multiple instances of the shortcode,
then you will need to add css for any further calendars - simply copy the compprop0 to compprop1 

You can always refer back to the default css in the plugin folder for the latest suggested or example css.

*/

.history { /* to style past events */
}
.ical td {
	vertical-align: top;
}
.wical .group {  
	font-weight: bolder; 
}
.wical .today {  
/*	font-weight: bolder !important; */
}	
/* -------------------------------------------------------------------------------------*/
/* Table related definitions - delete these if your theme does tables nicely already  */
.ical thead  { /* Make the table heading row a bit bigger */
	font-size: larger;
	}
.ical tfoot a,   /* make footer look subtle */
.wical tfoot a {
	color: #777;
	}
.icalprop th,
.icalprop td,
.ical th,
.ical td { /* space the table elements out a bit */
	padding: 0.5em;
	text-align: left;
	}	
.icalprop td.col2 {
	text-align: right;
}
/* -----------------------------------------for the list style ------------------------- */
.icalprop span.col1 {
	float: left;
}	
.icalprop span.col2 {
	text-align: right;
	float: right;
}
/* -------------------------------------------------------------------------------------*/	
.ical .summary h3{ /* make the summaries take on whatever the theme's h3 is, but not extra space above */
	padding-top: 0;
	margin-top: 0;
}
#content .icalprop ,
#content .icalprop tr,
#content .icalprop tr td,
#content .icalprop tr th,
.icalprop,
.icalprop tr,
.icalprop tr td,
.icalprop tr th {	
	border: 0px;}
}
.ical,
.icalprop {	
	width: 100%;   /* force the calendar  to take as much space as it can so floated items don't force a wrap */
	margin: auto;
	/* table-layout:fixed; /* prevent the table from being too big */
	word-wrap:break-word; /* to make content wrap rather than overflowing */
	overflow:hidden; /* some browser don't support word -wrap */
	}

/* --------------------DELETE THIS IF NOT REQUIRED  - NEEDED IN SOME THEMES ONLY -----------------------------*/
/* Do our very best to re move the list bullets from some weird themes where we do not want them.
   Themes  specify list bullet styling in many (okay maybe only 3 ) different ways and it is hard to force precdence sometimes! */
.wical ul li.group,
.wicalprop ul  li,
.icalprop ul  li {  /* remove list bullets for calendar properties and groups */	
	list-style: none !important;
	text-indent: 0;
	padding: 0;
	margin: 0;
	background: none !important;
    }

.ical ul.amrcol  li:before,
.wcalprop ul.amrcol  li:before ,
.icalprop ul.amrcol  li:before  {  /* remove list bullets in the default theme and similar themes */
		content:"" !important; /* none should work, but chrome seems to ignore it */
}
#sidebar #wccalprop0  li:before,
#sidebar .wical  li:before {  /* remove list bullets in the default theme and similar themes , for all fields*/
		content:"" !important; 
}
/* Default Theme and similar only ---------------------------------------------------------------*/
/* add back list bullets for a field only  - see what your theme is using and put it in here */
#sidebar .wical  li {  
}
#sidebar .wical  li.eventdate:before {
/*  	content: "\00BB \0020" !important;  */
}
/* End list bullets---------------------------------------------------------------*/
#menu .wical  ul { /* to override classic theme where all appears greyed out */
	color: #000;
}
/* -------------------------------images can look strange in some themes -------------------------------*/
.wical img,
.wicalprop img,
.ical img ,
.icalprop img {
	border: none !important;
	vertical-align: text-bottom;
	}
.wcalprop , /* if someone wants the calendar level on the widget, then float the bits to the left */
.ical .addevent,
.ical .subscribeevent,
.ical .icsurl ,
.ical .map,
.icalprop .addtogoogle,
.icalprop .icsurl ,
.icalprop .icalrefresh ,
.icalprop .x-wr-timezone { /* float our little icons to the right */
	float: right;
	padding: 0 0 0 0.5em;
	margin-bottom: 0;   /* required where sometimes they don't line up nicely if limited text */
	font-size: small;
}
.ical li.icalnav {
	padding: 0 1em 0 0 ;
	}
.wical td { /* for the widget only remove any additional table spacing, so that we are left with li spacing for consistency with other widgets */
    margin: 0;
	padding: 0;
}
/* css based description hide/display for the widget  */
.wical li .description, 
.wical tr .description  {display:none; z-index:-1;} 
.wical li,
.wical tr   { position:relative;}
.wical li:hover .description,
.wical tr:hover .description {	
	background:#fff; 
	color: #111;
	display:block; width: 90%;
	position:relative; 
	right:1px; top:10px;  
	z-index:100;
	margin:0 0 10px 0;  
	padding:2%; 
	overflow: hidden;
}
.amrical_credit,.amrical_credit a,.amrical_credit a:visited {
	font-size:x-small; 
	color: 	#ADADAD;
	font-style: italic;
	vertical-align: middle;
}
.amrical_credit a:hover
 {
	font-size: x-small; 
	font-style: italic;
	color: #000000;
}

/* forevent info  when it goes live ------------------------------------------------------- */
.eventdates ul,
#content .eventdates ul  {
	list-style: none;
	margin: 0;
	padding:0;
}
.eventdates ul  li,
#content .eventdates ul  li{
	margin: 0;
	padding:0;
}
/* for semi paginate when it goes live ------------------------------------------------------- */	

#icalnavs {width: 250px;
	text-align: center; 
	vertical-align: middle;
	margin: 0 auto;
	font-size:small;
	}
.icalnav { vertical-align:middle;}
.icalnav a { text-decoration: none; color: 	#ADADAD;}
.icalnav a.symbol {font-size:x-large; }
.icalnavs:hover  { background-color: #ffffff;}
.icalnav a:hover  { color: #000000;}

.add-new-event {display: block; clear:both;}
